.header{
    border: 3px solid white;
    position: relative;
    top: 50px;
    width: 400px;
    margin: 0 auto;   
  }
  body{
    background: #fcc8b2;
    
  }
  
  .profile{
    position: relative;
    border: 40px;
    padding: 40px;
    background-color: peachpuff;
    top: 100px;
  }
  
  h1 {
    color: #66360c;
    font-family: 'Poller One', cursive;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  }
  
  p, ul, table{
    font-size: 15px;
    font-weight: 700;
    line-height: 2.5;
    font-family: 'Grandstander';
    word-spacing: 0.05em;
    letter-spacing: 0.02em;
  }
  
  h3 {
    font-family: 'Kalam', cursive;
    font-size: 25px;
    font-weight: 500;
  }
  