<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@200&family=Poller+One&family=Amatic+SC:wght@700&family=Kalam:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>

        <div class="header">
            <h1>
                My profile
            </h1>
        </div>
        
        <div class="profile">
            <div class="profile1">
            <h3>Nama</h3>
                <p>Mirsa Salsabila</p>

            <h3>NPM</h3>
                <p>1906350875</p>

            <h3>Angkatan</h3>
                <p>2019</p>

            <h3>Kampus</h3>
                <p>Fasilkom, Universitas Indonesia</p>

            <h3>Hobi</h3>
                <ul>
                    <li>Menggambar</li>
                    <li>Menonton Film</li>
                </ul>
            
            
            <h3>Riwayat Pendidikan</h3>
            <table border='1'>
                <tr align="center">
                    <th> <b> Tahun </b> </th>
                    <th> <b> Nama Sekolah </b> </th>
                
                <tr>
                    <td align="center"> 2019 - Sekarang </td>
                    <td> Universitas Indonesia </td> 
                </tr>
                
                <tr>
                    <td align="center"> 2016 - 2019 </td>
                    <td> SMAN 3 Depok </td>
                </tr>
                </tr>
                
                <tr>
                    <td align="center"> 2013 - 2016 </td>
                    <td> SMPN 6 Depok </td>
                </tr>
                
                <tr>
                    <td align="center"> 2007 - 2013 </td>
                    <td> SDN Cilodong 1 </td>
                </tr>
                
                <tr>
                    <td align="center"> 2006 - 2007 </td>
                    <td> TK Dewi Sartika </td>
                </tr>
            </table>
        </div> 

            <div class="profile2">
            <h3>Deskripsi tentang saya</h3>
                <p>Seorang mahasiswi yang sedang mencari minat :)</p>

            <h3>Media Sosial</h3>
                <p>Instagram/Twitter/ID Line = mirsalsa</p>
    

            <h3>Media</h3>
            <img align="center" src="{% static 'mirsa.jpg' %}" width="300" height="300"/>
            </div>
        </div>

    </body>
</html>
