{% extends 'base.html' %}
{% load static %}
{% block title %} Daftar Matkul {% endblock %}

{% block content %}
{% include 'navbar.html' %}


<section id="about" class="container-fluid d-flex flex-wrap ">
<div>

</div>

<div class="container-fluid"> 
  <div class="section-title"> 
    <h3 >Mata Kuliah-Ku</h3>
  </div>
  <button class="btn btn-primary d-flex m-auto click" style="justify-content: right;"> 
    <a href="{% url 'stori5:tambah_matkul' %}" class="text-white">
      Tambah Mata Kuliah
    </a>
  </button>
  <br>
  {% for i in daftar_matkul %}
    <div class="card w-100">
      <div class="card-body">
        <h5 class="card-title">{{ i.subject }}</h5>
        <p class="card-text">{{ i.deskripsi }}</p>
        <div class="d-flex flex-row">
          <form method="POST" action="{% url 'stori5:matkul' %}">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ i.id }}">
            <button type="submit" value="Submit" class="card-link btn btn-danger">Hapus</button>
          </form>
          <a style="margin-left: 20px;" href="{% url 'stori5:detail_matkul' i.id %}" class="card-link btn btn-outline-primary">Detail</a>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
</section>
{% endblock %}