{% extends 'base.html' %}
{% load static %}
{% block title %} Detail Matkul {% endblock %}

{% block content %}
{% include 'navbar.html' %}
<section id="about" class="container-fluid d-flex flex-wrap align-content-center ">
    <div class="section-title mx-auto"> 
      {{ subject.subject }}
    </div>
    <table class="table table-warning table-bordered table-hover">
        <tbody>
        <tr>
            <td>Dosen</td>
            <td>{{ subject.dosen }}</td>
        </tr>
        <tr>
            <td>SKS</td>
            <td>{{ subject.sks }}</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>{{ subject.semester }}</td>
        </tr>
        <tr>
            <td>Kelas</td>
            <td>{{ subject.kelas }}</td>
        </tr>
        <tr>
            <td>Deskripsi</td>
            <td>{{ subject.deskripsi }}</td>
        </tr>
    </table>
    <button class="btn btn-primary d-flex m-auto click"> 
        <a href="{% url 'stori5:matkul' %}" class="text-white">
          Kembali ke daftar matkul
        </a>
      </button>

</section>
{% endblock %}