{% extends 'base.html' %}
{% load static %}
{% block title %} Tambah Matkul {% endblock %}

{% block content %}
{% include 'navbar.html' %}

    <section class="container">
{% if submit%}
    <div class="section-title mx-auto text-center p-5">
      <p>Mata kuliah yang kamu masukkan berhasil ditambahkan</p>
      <br>
      <button class="btn btn-primary d-flex m-auto click"> 
      <a href="{% url 'stori5:matkul' %}" class="text-white">
        Back to Subject List
      </a>
      </button>
    </div> 

{% else %}
    <div class="section-title mx-auto text-center p-5"> 
      Tambah Mata Kuliah
    </div>

    <form action="" method="post" novalidate>
      {% csrf_token %}
      <table class="table table-danger table-bordered table-hover">
        {{ form.as_table }}
        <tr>
          <td>&nbsp;</td>
          <td><input type="submit" value="Submit" class="btn btn-primary click"></td>
        </tr>
      </table>
    </form>
{% endif %}

</section> 


{% endblock %}