<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="container">
    <a class="navbar-brand" href="#">Mirsalsa</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="col-auto">
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'homepage:index' %}#home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'homepage:index' %}#about">Tentang Saya</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'homepage:index' %}#pendidikan">Pendidikan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'homepage:extra' %}">Karya</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'homepage:index' %}#kontak">Kontak</a>
        </li>
        <li class="nav-item dropdown mx-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Etc
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'stori1:home' %}">Story 1 PPW</a>
              <a class="dropdown-item" href="{% url 'stori5:matkul' %}">Daftar Matkul</a>
              <a class="dropdown-item" href="{% url 'stori6:event' %}">Event</a>
            </div>
            
        </li>
      </ul>
    </div>
    </div>
    </div>
</nav>