{% extends 'base.html' %}
{% load static %}
{% block title %} Daftar Event {% endblock %}

{% block content %}
{% include 'navbar.html' %}

<section id="about" class="container-fluid d-flex flex-wrap ">
    
    <div class="container-fluid"> 
      <div class="section-title"> 
        <h3 >DAFTAR KEGIATAN</h3>
      </div>
      <button class="btn btn-primary d-flex m-auto click" style="justify-content: right;"> 
        <a href="{% url 'stori6:tambah_event' %}" class="text-white">
          Tambah Event
        </a>
      </button>
      <br>
      {% for i in daftar_event %}
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header" style="font-size: 20px;">{{i.name}}</div>
        <div class="card-body">
          {% for j in partisipan %}
            {% if j.event == i%}
          <p class="card-title">
            <div class="d-flex flex-row">
                <div>{{ j.name }}</div>
            <form method="POST" action="{% url 'stori6:event' %}">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{j.id}}">
              <button type="submit" value="Submit" class="card-link btn btn-danger">x</button>
          </form>
            </div>
            
          </p>
            {% endif %}
          {% endfor %}
          <a style="margin-left: 20px;" href="{% url 'stori6:registrasi' i.id %}" class="card-link btn btn-outline-primary">Ayo Daftar!!</a>
        </div>
      </div>
        <!-- <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{ i.name }}</h5>
            {% for j in partisipan %}
                {% if j.event == i%}  
                    
                    <div class="d-flex flex-row">
                      <p class="card-text">{{ j.name }}</p>
                      <form method="POST" action="{% url 'stori6:event' %}">
                          {% csrf_token %}
                          <input type="hidden" name="id" value="{{j.id}}">
                          <button type="submit" value="Submit" class="card-link btn btn-danger">x</button>
                      </form>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="d-flex flex-row">
                <a style="margin-left: 20px;" href="{% url 'stori6:registrasi' i.id %}" class="card-link btn btn-outline-primary">Ayo Daftar!!</a>
            </div>
        </div> -->
        {% endfor %}
    </div>
    </section>
{% endblock %}