{% extends 'base.html' %}
{% load static %}
{% block title %} Daftar Event {% endblock %}

{% block content %}
{% include 'navbar.html' %}
<section class="container">
    <div class="section-title mx-auto text-center p-5"> 
        DAFTARKAN DIRIMU!!
      </div>
  
      <form action="" method="post" novalidate>
        {% csrf_token %}
        <table class="table table-danger table-bordered table-hover">
          {{ form.as_table }}
          <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Submit" class="btn btn-primary click"></td>
          </tr>
        </table>
      </form>
</section>
{% endblock content%}