{% extends 'base.html' %}
{% load static %}
{% block title %} Karya Mirsa {% endblock %}

{% block content %}
{% include 'navbar.html' %}
        
        <section id="section-a" class="container-fluid d-flex flex-wrap" >
            <p class="quote align-self-end">
                “Art speaks where words are unable to explain“ <br/>
                - Threadless Artist Mathiole
            </p>
        </section>

        <section id="sectionU" class="container-fluid" style="background-color: #FFAD8A;text-align: center;">
        <section id="section-b" class="container-fluid">
            <div class="section-title mx-auto" style="color: beige;"> 
                <br>
                HASIL KARYA
              </div>
                    <button type="button" class="btn align-self-center" data-toggle="modal" data-target="#exampleModal1">
                        <span class="iconify" data-inline="false" data-icon="ant-design:camera-outlined" style="font-size: 200px;"></span>
                    </button>
                      <h4>HASIL KARYA MIRSA: FOTOGRAFI</h4>
        </section>

          <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="section-title" id="exampleModalLabel" style="padding:0px;"> hasil kamera saya</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
    
                    <div class="modal-body">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="{% static '/img/foto1.jpg' %}" alt="First slide">
                                </div>
    
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static '/img/IMG_20180331_162241_HDR.jpg' %}" alt="Second slide">
                                </div>
    
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static '/img/IMG_20170315_180840.jpg' %}" alt="Third slide">
                                </div>
    
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static '/img/IMG_20180331_161740_HDR.jpg' %}" alt="Fourth slide">
                                </div>
                            </div>
    
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
    
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section id="section-c" class="container-fluid" style="align-items: center;">
            <button type="button" class="btn align-self-center" data-toggle="modal" data-target="#exampleModal2">
                <span class="iconify" data-icon="map:art-gallery" data-inline="false" style="font-size: 200px;"></span>
            </button>
              <h4>HASIL KARYA MIRSA: SENI DIGITAL</h4>
        </section>

        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="section-title" id="exampleModalLabel2" style="padding:0px;"> Masih belajar hehe</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="{% static '/img/digi1.png' %}" alt="First slide">
                                </div>

                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static '/img/digi2.png' %}" alt="Second slide">
                                </div>

                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static '/img/digi3.png' %}" alt="Third slide">
                                </div>

                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static '/img/digi4.png' %}" alt="Fourth slide">
                                </div>
                            </div>

                            <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>

                            <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section id="section-d" class="container-fluid" style="align-items: center;">
            <button type="button" class="btn align-self-center" data-toggle="modal" data-target="#exampleModal3">
                <span class="iconify" data-icon="emojione-monotone:pencil" data-inline="false" style="font-size: 200px;"></span>
            </button>
              <h4>HASIL KARYA MIRSA: SKETSA PENSIL</h4>
        </section>

        <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="section-title" id="exampleModalLabel3" style="padding:0px;"> Baru coba-coba hehe</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="{% static '/img/sket1.jpg' %}" alt="First slide">
                                </div>

                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static '/img/sket2.jpg' %}" alt="Second slide">
                                </div>

                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static '/img/sket3.jpg' %}" alt="Third slide">
                                </div>

                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static '/img/sket4.jpg' %}" alt="Fourth slide">
                                </div>

                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static '/img/sket5.jpg' %}" alt="Fourth slide">
                                </div>
                            </div>

                            <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>

                            <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         
    </section>

    <section class="back">
            <a href="{% url 'homepage:index' %}">
              <div class="d-flex click-2 m-auto">
                  BACK TO HOME
                </div>
              </a>
    </section>

{% endblock %}
