{% extends 'base.html' %}
{% load static %}
{% block title %} Mirsa Salsabila {% endblock %}

{% block content %}
{% include 'navbar.html' %}

        <section id="home" class="container-fluid">
            <h1 class="title"> HALLO!! </h1>
            <p class="subtitle"> Jangan Lupa Bahagia Hari Ini! :)</p>
            <a href="#about">
                <img id="triangle" src="{% static 'triangle.jpg' %}" alt="">
            </a>
        </section>

        <section id="about" class="container-fluid d-flex flex-wrap align-content-center ">
            <div class="section-title mx-auto"> 
                TENTANG SAYA
              </div>
            <div class="row align-items-center justify-content-center">
                <div class="col-sm-5 mr-3">
                    <img class="profpic" src="{% static 'mirsa.jpg' %}" alt="Profile Picture" data-aos="flip-left" data-aos-duration="1500">
                    <article class="text-justify">
                        Hai semua! saya adalah seseorang yang senang  bergelut dengan hal berbau ‘seni’ dan seseorang yang memimpikan banyak hal.
                    </article>
                </div>
                
                <div class="col-sm-4 mr-3">
                    <h4> NAMA LENGKAP </h4>
                    <h5> Mirsa Salsabila </h5>
                    <br>
                    <h4> NOMOR MAHASISWA </h4>
                    <h5> 1906350875 </h5>
                    <br>
                    <h4> PERGURUAN TINGGI </h4>
                    <h5> Fakultas Ilmu Komputer, </h5>
                    <h5> Universitas Indonesia </h5>
                    <br>
                    <h4> EMAIL </h4>
                    <h5> mirsa.salsabila@ui.ac.id </h5>
                </div>
            </div>
        </section>

        <section id="pendidikan" class="container-fluid d-flex flex-wrap align-content-center ">
            <div class="section-title mx-auto"> 
                RIWAYAT PENDIDIKAN
              </div>
            <div class="container">
                <div class="row">
                    <div class="col wf">
                        <img class="smp" src="{% static 'smp6.jpg' %}" alt="SMPN 6 Depok" style="width:180px;height:210px;margin-bottom: 15px;">
                        <h4>SMPN 6 Depok</h4>
                        <br>
                        <h5>2013-2016</h5>
                    </div>
                    <div class="col wf">
                        <img class="sma" src="{% static 'sman3.png' %}" alt="SMAN 3 Depok" style="width:180px;height:200px;">
                        <h4>SMAN 3 Depok</h4>
                        <br>
                        <h5>2016-2019</h5>
                    </div>
                    <div class="col wf">
                        <img class="uni" src="{% static 'Makara_UI.png' %}" alt="Universitas Indonesia" style="width:190px;height:200px;">
                        <h4>Fakultas Ilmu Komputer</h4>
                        <h4>Universitas Indonesia</h4>
                        <h5>2019-sekarang</h5>
                    </div>
                </div>
                </div>
            </div>
        </section>

        <section id="kontak" class="container-fluid">
            <div class="section-title mx-auto">
                MARI BERKENALAN!
            </div>
    
            <div class="row">
                <div class="col-sm-3">
                    <a href="https://instagram.com/mirsalsa" target="_blank">
                    <span class="iconify" data-inline="false" data-icon="ant-design:instagram-outlined" style="color: black; font-size: 75px;"></span>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="https://www.linkedin.com/in/mirsa-salsabila-4578ba1a0/" target="_blank">
                        <span class="iconify" data-inline="false" data-icon="jam:linkedin-square" style="color: black; font-size: 75px;"></span>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="mailto:mirsa.salsabila@ui.ac.id">
                    <span class="iconify" data-inline="false" data-icon="feather:mail" style="color: black; font-size: 75px;"></span>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="https://twitter.com/mirsasalsa_" target="_blank">
                        <span class="iconify" data-inline="false" data-icon="brandico:twitter-bird" style="color: black; font-size: 75px;"></span>
                    </a>
                </div>
            </div>                      
          </section> 

          
{% endblock %}
